""" This file is for Activity 1 of the Data Science Learning Club on
    BecomingDataSci.com. The basic aim of this activity is to load in
    a data file, and try to learn a few basic things about it.

    The data I have chosen is water usage data in my home state of CA.
    I figured I'd try to work on something that is near and dear to my
    heart - water conservation. """

In [1]:
#import pandas and numpy libraries
import pandas as pd
import numpy as np
import sys

In [2]:
#read the .txt file into a pandas dataframe
water_in_1990 = pd.read_table(r"water_ca1990co.txt")

In [3]:
#now to glean some info about the data frame (rows, cols, head, etc.)
print(water_in_1990.head())
dimensions = water_in_1990.shape
rows = dimensions[0]
cols = dimensions[1]
print("There are %d rows and %d columns" % (rows, cols))
print(water_in_1990.info())

  state  year agency  scode  area  po-total  ps-popgw  ps-popsw  ps-popto  \
0    CA  1990   USGS      6     1   1279.18    109.37   1142.44   1251.81
1    CA  1990   USGS      6     3      1.11      0.35      0.25      0.60
2    CA  1990   USGS      6     5     30.04      3.54     19.61     23.15
3    CA  1990   USGS      6     7    182.12     77.92     44.80    122.72
4    CA  1990   USGS      6     9     32.00      0.91     10.71     11.62

   ps-wgwfr    ...     to-swsal  to-swtot  to-frtot  to-satot  to-total  \
0     23.83    ...          0.0    200.20    237.83      0.00    237.83
1      0.09    ...          0.0      9.03     27.25      0.00     27.25
2      0.36    ...          0.0     24.00     26.37      0.00     26.37
3     30.32    ...          0.0    518.66    860.02      0.01    860.03
4      0.09    ...          0.0     11.91     13.57      0.00     13.57

   to-recww  to-cufr  to-cusal  to-cuse  to-convy
0      2.03    51.79      0.18    51.97      0.00
1      0.00    13.63      0.00    13.63      0.00
2      0.18    12.45      0.00    12.45      0.00
3      0.00   584.62      0.01   584.63    162.75
4      0.04     6.36      0.00     6.36      0.00

[5 rows x 163 columns]
There are 58 rows and 163 columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Columns: 163 entries, state to to-convy
dtypes: float64(158), int64(3), object(2)
memory usage: 73.9+ KB
None

In [4]:
#pandas .loc[] method allows you to select a row from your dataframe, using
#the row index number. (0-len(rows))
row19 = water_in_1990.loc[18]
print(row19)

state            CA
year           1990
agency         USGS
scode             6
area             37
po-total    8863.11
ps-popgw    4322.47
ps-popsw    4099.65
ps-popto    8422.12
ps-wgwfr     844.65
ps-wswfr      715.6
ps-wtofr    1560.25
ps-wgwsa          0
ps-wswsa          0
ps-wsato          0
ps-total    1560.25
ps-loss       36.84
ps-deliv    1523.41
ps-prcap     185.26
ps-facil        233
ps-facdb        124
co-wgwfr       1.63
co-wswfr          0
co-wtotl       1.63
co-psdel     237.26
co-total     238.89
co-cuse        3.74
do-sspop     440.99
do-ssgwf         21
do-ssswf       9.27
             ...
ir-flood      15.02
ir-irrig      44.19
ir-convy       2.65
ir-cuse       80.22
hy-total    2247.58
hy-power    1163.11
hy-facil         19
hy-facdb         19
ww-facpu         41
ww-facot         18
ww-facil         59
ww-retrn     979.27
ww-facdb     979.27
ww-recww      73.15
re-evap       23.19
re-area        4.75
to-gwfr      963.85
to-gwsal      68.55
to-gwtot     1032.4
to-swfr      792.47
to-swsal    2348.25
to-swtot    3140.72
to-frtot    1756.32
to-satot     2416.8
to-total    4173.12
to-recww      20.18
to-cufr      433.98
to-cusal       59.1
to-cuse      493.08
to-convy       2.65
Name: 18, dtype: object

In [5]:
print(row19)
""" with 163 columns in this dataset, it's a bit unweildy, I'll need to
    do some work to tease out the data I'm looking for. Water usage by
    county, that is. Let's see what all the column names are"""
#Putting all the column names into a list
col_names = water_in_1990.columns.tolist()
print(col_names)

state            CA
year           1990
agency         USGS
scode             6
area             37
po-total    8863.11
ps-popgw    4322.47
ps-popsw    4099.65
ps-popto    8422.12
ps-wgwfr     844.65
ps-wswfr      715.6
ps-wtofr    1560.25
ps-wgwsa          0
ps-wswsa          0
ps-wsato          0
ps-total    1560.25
ps-loss       36.84
ps-deliv    1523.41
ps-prcap     185.26
ps-facil        233
ps-facdb        124
co-wgwfr       1.63
co-wswfr          0
co-wtotl       1.63
co-psdel     237.26
co-total     238.89
co-cuse        3.74
do-sspop     440.99
do-ssgwf         21
do-ssswf       9.27
             ...
ir-flood      15.02
ir-irrig      44.19
ir-convy       2.65
ir-cuse       80.22
hy-total    2247.58
hy-power    1163.11
hy-facil         19
hy-facdb         19
ww-facpu         41
ww-facot         18
ww-facil         59
ww-retrn     979.27
ww-facdb     979.27
ww-recww      73.15
re-evap       23.19
re-area        4.75
to-gwfr      963.85
to-gwsal      68.55
to-gwtot     1032.4
to-swfr      792.47
to-swsal    2348.25
to-swtot    3140.72
to-frtot    1756.32
to-satot     2416.8
to-total    4173.12
to-recww      20.18
to-cufr      433.98
to-cusal       59.1
to-cuse      493.08
to-convy       2.65
Name: 18, dtype: object
['state', 'year', 'agency', 'scode', 'area', 'po-total', 'ps-popgw', 'ps-popsw', 'ps-popto', 'ps-wgwfr', 'ps-wswfr', 'ps-wtofr', 'ps-wgwsa', 'ps-wswsa', 'ps-wsato', 'ps-total', 'ps-loss', 'ps-deliv', 'ps-prcap', 'ps-facil', 'ps-facdb', 'co-wgwfr', 'co-wswfr', 'co-wtotl', 'co-psdel', 'co-total', 'co-cuse', 'do-sspop', 'do-ssgwf', 'do-ssswf', 'do-sstot', 'do-sspcp', 'do-pspop', 'do-psdel', 'do-pspcp', 'do-total', 'do-cuse', 'in-wgwfr', 'in-wgwsa', 'in-wgwto', 'in-wswfr', 'in-wswsa', 'in-wswto', 'in-wtofr', 'in-wtosa', 'in-wtotl', 'in-recww', 'in-psdel', 'in-total', 'in-cufr', 'in-cusal', 'in-cuse', 'in-facil', 'in-facdb', 'pt-wgwfr', 'pt-wswfr', 'pt-wswsa', 'pt-wswto', 'pt-frtot', 'pt-wtotl', 'pt-psdel', 'pt-total', 'pt-cufr', 'pt-cusal', 'pt-cuse', 'pt-power', 'pt-facil', 'pt-facdb', 'pf-wgwfr', 'pf-wswfr', 'pf-wswsa', 'pf-wswto', 'pf-frtot', 'pf-wtotl', 'pf-psdel', 'pf-total', 'pf-cufr', 'pf-cusal', 'pf-cuse', 'pf-power', 'pf-facil', 'pf-facdb', 'pg-wgwfr', 'pg-wgwsa', 'pg-wtotl', 'pg-cufr', 'pg-cusal', 'pg-power', 'pg-facil', 'pg-facdb', 'pn-wgwfr', 'pn-wswfr', 'pn-wswsa', 'pn-wswto', 'pn-frtot', 'pn-wtotl', 'pn-psdel', 'pn-total', 'pn-cufr', 'pn-cusal', 'pn-cuse', 'pn-power', 'pn-facil', 'pn-facdb', 'mi-wgwfr', 'mi-wgwsa', 'mi-gwtot', 'mi-wswfr', 'mi-wswsa', 'mi-swtot', 'mi-frtot', 'mi-satot', 'mi-total', 'mi-cufr', 'mi-cusal', 'mi-cuse', 'ls-gwtot', 'ls-swtot', 'ls-total', 'ls-cuse', 'la-gwtot', 'la-swtot', 'la-total', 'la-cuse', 'lv-gwtot', 'lv-swtot', 'lv-total', 'lv-cuse', 'ir-wgwfr', 'ir-wswfr', 'ir-recww', 'ir-frtot', 'ir-spray', 'ir-flood', 'ir-irrig', 'ir-convy', 'ir-cuse', 'hy-total', 'hy-power', 'hy-facil', 'hy-facdb', 'ww-facpu', 'ww-facot', 'ww-facil', 'ww-retrn', 'ww-facdb', 'ww-recww', 're-evap', 're-area', 'to-gwfr', 'to-gwsal', 'to-gwtot', 'to-swfr', 'to-swsal', 'to-swtot', 'to-frtot', 'to-satot', 'to-total', 'to-recww', 'to-cufr', 'to-cusal', 'to-cuse', 'to-convy']

 Wow - so, there are a lot of column names that don't make much sense
    I'm going to go back to the source to see if I can find some kind of
    legend. Stay tuned!